.todo {
    display: flex;
    justify-content: center;
    margin: 80px 0px;

}

.todo form {
    border-radius: 20px;
    background-color: #e5e5e5;
    padding: 1rem 2rem;
}

.box-input {
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    padding: 1rem 0;
}

.todo input {
    border: none;
    border-radius: 5px;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-right: 1rem;
    font-weight: bold;
}

.todo h1 {
    text-align: center;
    color: brown;
}

.button-add {
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color: #FFF;
    background-color: brown;
    cursor: pointer;
}

.button-add:hover {
    filter: brightness(0.90);
    transition: 0, 4s;
}

.list-task {
    list-style-type: none;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    width: 309px;
}

.list-task-complete {
    list-style-type: none;
    margin: 1rem 0;
    background-color: brown;
    border-radius: 5px;
    padding: 1rem;
    text-decoration: line-through;
    color: #FFF;
}

.li {
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 220px;
    word-break: break-all;
}

.bt-check-trash {
    padding-left: 14rem;
    position: fixed;
}

.bt-check {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.bt-trash {
    cursor: pointer;
    font-size: 20px;
}